<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCD9vddogFW8czKW2VA9zmYIOXAtxDYIvc</string>
	<key>GCM_SENDER_ID</key>
	<string>111649288667</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.findmate</string>
	<key>PROJECT_ID</key>
	<string>findmate-b278c</string>
	<key>STORAGE_BUCKET</key>
	<string>findmate-b278c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:111649288667:ios:c70dcc25860eb139a6b7fe</string>
</dict>
</plist>